body{
	font-family: helvetica;
}

/**************
SPAN HEADER
******************/

header{
	margin: 0;
	color: grey;
	position: relative;
}

span{
	float: left;
	font-size: 1em;
}

ul{
	list-style: none;
	margin: 0;
}

li {
	display: inline;
	padding: 5px 10px;
}

li:hover {
	color: black;
}


/**************
HEADER
******************/
#header_pic{
	background: url("https://github.com/tiy-lv-frontend-2015-10/Assignments/blob/master/Assignment-04/Normal-Mode/assets/background.jpg?raw=true")
	no-repeat;
	background-size: center center;
	margin: 0px;
	position: relative;

}
